<aside class="sidenav">
  <a href="/dashboard" class="logo">Dashboard <b>SAA</b></a>
  <div class="user-p">
    <img src="/images/user.jpeg" />
    <h4><%= name %></h4>
  </div>
  <div id="menu">
    <a href="/dashboard">Vue d'ensemble </a>
    <div>
      <p>Production</p>
    </div>
    <a href="nombre-de-contrats"> Contrats</a>
    <a href="chiffre-daffaire">Chiffre d'affaires</a>
    <div>
      <p>Sinistres</p>
    </div>
    <a href="/dashboard">A définir</a>
    <a href="/dashboard">A définir</a>
  </div>
  <div class="bottom-container">
    <a href="/dashboard"> Compte</a>
    <a id="logout-btn" style="background-color: #d80127">Déconnexion</a>
  </div>
</aside>
