<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Chart.js Example</title>
    <link
      rel="stylesheet"
      href="/css/dashboards/dashboard_CA.css"
      type="text/css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
  </head>
  <body>
    <main class="main">
      <div class="card" id="card1">
        <div class="card-header">
          <p>Chiffre d'affaire par année</p>
        </div>
        <div class="card-content">
          <canvas id="ca_par_annee" height="200" width="380"></canvas>
        </div>
      </div>

      <div class="card" id="card2">
        <div class="card-header">
          <p>Chiffre d'affaire par branche</p>
        </div>
        <div class="card-content">
          <canvas id="ca_par_branche" height="200" width="380"></canvas>
        </div>
      </div>
      <div class="card" id="card3">
        <div class="card-header">
          <p>CA par mois pour chaque année</p>
        </div>
        <div class="card-content">
          <canvas id="ca_par_mois_annee" height="200" width="380"></canvas>
        </div>
      </div>
    </main>

    <script src="/javascripts/dashboard_CA.js"></script>
  </body>
</html>
