<!DOCTYPE html>
<html>
  <head>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, minimum-scale=1"
    />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Dashboard SAA</title>
    <!-- icon -->
    <link rel="shortcut icon" href="/images/saa-logo.png" type="image/x-icon" />
    <!-- Fontawesome CDN Link -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <link rel="stylesheet" href="/css/partials.css" type="text/css" />
    <link
      rel="stylesheet"
      href="/css/dashboards/dashboard_CA.css"
      type="text/css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
  </head>
  <body>
    <div class="grid-container">
      <%- include('../partials/header') %> <%- include('../partials/sidebar') %>
      <main class="main">
        <div class="card" id="card1">
          <div class="card-header">
            <p>Chiffre d'affaire par année</p>
          </div>
          <div class="card-content">
            <canvas id="ca_par_annee" height="200" width="380"></canvas>
          </div>
        </div>

        <div class="card" id="card2">
          <div class="card-header">
            <p>Chiffre d'affaire par branche</p>
          </div>
          <div class="card-content">
            <canvas id="ca_par_branche" height="200" width="380"></canvas>
          </div>
        </div>
        <div class="card" id="card3">
          <div class="card-header">
            <p>CA par mois pour chaque année</p>
          </div>
          <div class="card-content">
            <canvas id="ca_par_mois_annee" height="200" width="380"></canvas>
          </div>
        </div>
      </main>
      <%- include('../partials/footer') %>
    </div>
    <script src="/javascripts/dashboard_CA.js"></script>
  </body>
</html>
