<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="login.css" type="text/css">

    <title>Se connecter</title>
</head>
<body>
   
    <section>
        
        <form action="/login" method="POST">
        <div class="form-box">
            <div class="form-value">
                <form action="">
                    <h2>Se connecter</h2>
                    <% if (messages.error) { %>
                        <%= messages.error %>
                    <% } %>
                    <div class="inputbox">
                        <ion-icon name="mail-outline"></ion-icon>
                        <input type="email" id="email" name="email" required>
                        <label for="email">Email</label>
                    </div>
                    <div class="inputbox">
                        <ion-icon name="lock-closed-outline"></ion-icon>
                        <input type="password" id="password" name="password" required>
                        <label for="password">Mot de passe</label>                        
                    </div>
                    
                    <button type="submit">Se connecter</button>
                    <div class="register">
                        <p>Ajouter un nouveau compte <a href="/register">S'incrire</a></p>
                    </div>
                </form>
            </div>
        </div>
    </form>
    </section>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>